p {
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: dimgray
  width: 550px;
}
h1 {
  display: block;
  color: black;
  background-color: yellow;
}
.aa {
  background-attachment: fixed;
  background-color: black;
  color: red;
  font-size: 30px;
}
.bb {
  background-attachment: fixed;
  background-color: red;
  color: black;
  font-size: 40px;
}
.cc {
  background: 200px;
  font-size: 50px;
}
/* volgende div werkt niet*/
html {
  background-color: #00539f;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ab147e;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
img {
  display: block;
  margin: 0 auto;
}
