p {
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: dimgrayrgb(195, 195, 176)
  width: 550px;
}
h1 {
  display: block;
  margin: 0 auto;
  color: black;
}
#ul {
  color: black;}
/* volgende div werkt niet*/
html {
  background-color: #00539f;
}

body {
  width: 800px;
  margin: 0 auto;
  background-color: #ab147e;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(195, 195, 176);
}
img {
  display: block;
  margin: 0 auto;
}
